// plugin-config.kdl
keybinds {
    shared_except "locked" {
        bind "Ctrl y" { 
            LaunchOrFocusPlugin "file:zellij-session-explorer.wasm" {
                floating true
                move_to_focused_tab true
            }
        }
    }
}
